In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('train.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:  35%|▎| 6/17 [00:00<00:00, 16.21it/s, Describe variable:
100%|█████████████████████████████████████| 12/12 [00:00<00:00, 137.41it/s]
Summarize dataset: 100%|████████| 47/47 [00:03<00:00, 14.08it/s, Completed]
Generate report structure: 100%|█████████████| 1/1 [00:03<00:00,  3.57s/it]
Render HTML: 100%|███████████████████████████| 1/1 [00:01<00:00,  1.04s/it]
Export report to file: 100%|█████████████████| 1/1 [00:00<00:00, 64.46it/s]